{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jasmine/recommended"
  ],
  "plugins": [
    "react",
    "babel",
    "jasmine"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true,
    "jasmine": true
  },
  "parser": "babel-eslint"
}
