{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react",
    "babel"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true
  },
  "parser": "babel-eslint"
}
